@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap');

:root {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.nameDiv{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.markerDiv{
    display: flex;
    gap: 50px;
}
.markerDiv p{
    margin: 0;
    display: flex;
    gap: 20px;

}
.container {
    background-color: lightgray;
    border: 10px solid lightgray;
    width: 300px;
    height: 300px;
    box-shadow: 2px 6px 19px 0px rgba(0, 0, 0, 0.75);
    /*  */
    display: grid;
    grid: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 10px;
}
.cell {
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 3rem;
    border-radius: 15px;
    /*  */
    display: flex;
    justify-content: center;
}

.cell:hover {
    cursor: pointer;
    background-color: #dcdcdc;
}

.cell.error {
    background-color: red;
    color: white;
}
.cell.win {
    background-color: lightgreen;
    color: greenyellow;
}

button#startBtn{
    border: none;
    padding: 20px 30px;
    margin-top: 50px;
    background-color: lightgray ;
    border-radius: 10px;
}
button:hover {
    cursor: pointer;
    background-color: #dcdcdc;
    transform: translateY(-2px);
    transition: transform 0.2s;
}

.winnerText{
    background-color: gold;
}